body {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
}

.avatar:hover {
    background-color: #0077b6;
}

.card {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    background: #f2cc8f;
    color: #2b2839;
    border-bottom: 6px solid #6d6875;
}